* {
    margin: 0;
    padding: 0;
    ;
  }

.footer {
  background:#131515 ;
  color: #FFFAFB;
}

  /* nav{
    border: 1px solid red;
  } */
  
  header h1{
    font-size: xx-large;
    padding-left: 4%;
    /* border: 2px solid red; */
    text-align: center;
  }

  

.hero{
    background-color: #339989 ;
    text-align: center;
}

  .row{
    padding-top:6% ;
    padding-left: 2px;
  }

  .color{
    color: red;
  }

  /* #small-img {
    padding-top:10px ;
    padding-left: 5px;
    border: 2px solid red;
    position: relative;
  } */
 
  #destinations {
    padding: 5px;
    
  }

  #image {
    width: 200px;
    height: 200px;
  }
   